<div class="menu-bar white-text" *ngIf="!cIsMobile()">
  <button class="flyout-menu-button"
          (click)="sFlyoutMenuOpen.set(!sFlyoutMenuOpen())"
          [class.active]="sFlyoutMenuOpen()"
          [class.gray-text]="sFlyoutMenuOpen()">
    <span class="fa-icon"></span>
  </button>

  <nav class="tab-bar">
    <ng-container *ngFor="let tab of tabService.cTabs(); let index = index">
      <app-tab *ngIf="index < cMaxVisibleTabs()"
               [tab]="tab"
               [tabWidth]="cTabWidth()"
               [isActive]="index === activeTabIndex"
               [isHovered]="index === hoveredTabIndex"
               [shouldShrink]="cTabsShouldShrink()"
               (mouseenter)="hoveredTabIndex = index"
               (mouseleave)="hoveredTabIndex = -1"
               (removeTab)="tabService.removeTab(index)">
      </app-tab>
    </ng-container>

    <button *ngIf="cTabsAreOverflowing()" class="overflow-menu-button">
      <span class="fa-icon"></span>
      <span>{{tabService.cTabs().length - cMaxVisibleTabs()}} Tabs</span>
    </button>
    <button class="new-tab-button" (click)="tabService.addTab()">
      +
    </button>
  </nav>

  <div class="action-buttons">
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <img class="profile-image" ngSrc="assets/images/dummy-profile.png" alt="profile" height="854" width="1280"/>
    </button>
  </div>
</div>

<div *ngIf="cIsMobile()" class="menu-bar-mobile white-text">
  <div class="tab"
       (mouseenter)="hoveredTabIndex = activeTabIndex"
       (mouseleave)="hoveredTabIndex = -1">
    <span class="fa-icon"></span>
    <span>{{tabService.cTabs()[activeTabIndex].name}}</span>
    <span class="tab-count">{{tabService.cTabs().length}} Tabs</span>
    <span class="fa-icon"></span>
  </div>

  <div class="action-buttons">
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <span class="fa-icon"></span>
    </button>
    <button>
      <span class="fa-icon"></span>
    </button>
  </div>
</div>
