<body>
<div class="container">

<div class="row">

  <div class="col">
    <img src="/assets/card-7031432__340.jpg" alt="Image 1">
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>



</div>
  <div class="row">

    <div class="col">
      <img src="assets/a.jpg" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/b.jpg" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/a.jpg" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/b.jpg" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/HB.png" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/b.jpg" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/HB.png" alt="Image 1">
    </div>



  </div>
</div>
<div class="button-container">


<button mat-button style="color: white">New Game
  <mat-icon>add</mat-icon>
</button>

<button mat-button style="color: white">Restart
  <mat-icon>refresh</mat-icon>
</button>
<button class="main_button1" mat-button style="color: black">Pause
  <mat-icon>pause</mat-icon>
</button>
<button class ="main_button2" mat-button style="color: black">Undo
  <mat-icon>undo</mat-icon>
</button>
<button mat-button style="color: white">Options
  <mat-icon>settings</mat-icon>
</button>
<button mat-button style="color: white">Help
  <mat-icon>help</mat-icon>
</button>


</div>
</body>
