<div class="card" *ngIf="!!card">
  <img src="assets/{{card}}.jpg" alt="Image {{card}}">
</div>

<div class="container">

  <div class="row">

    <div class="col">
      <img *ngIf="deckService.cDeck()"
           (click)="card = deckService.drawCard()"
           src="/assets/cardback.jpg" alt="Image 1">
    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>
    <div class="col">

    </div>


  </div>
  <div class="row">

    <div class="col">
      <img src="assets/1.jpg" (click)="card = undefined" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/2.jpg" (click)="card = undefined" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/1.jpg" (click)="card = undefined" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/2.jpg" (click)="card = undefined" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/3.png" (click)="card = undefined" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/2.jpg" (click)="card = undefined" alt="Image 1">
    </div>
    <div class="col">
      <img src="assets/3.png" (click)="card = undefined" alt="Image 1">
    </div>


  </div>
</div>


<div *ngIf="windowWidth$ | async as width">
  <div class="button-container" *ngIf="width > 500">

    <button mat-button style="color: white">New Game
      <mat-icon>add</mat-icon>
    </button>

    <button mat-button style="color: white">Restart
      <mat-icon>refresh</mat-icon>
    </button>
    <button class="main_button1" mat-button style="color: black">Pause
      <mat-icon>pause</mat-icon>
    </button>
    <button class="main_button2" mat-button style="color: black">Undo
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-button style="color: white">Options
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button style="color: white">Help
      <mat-icon>help</mat-icon>
    </button>

  </div>
</div>

<div *ngIf="windowWidth$ | async as width">
  {{width}}
</div>

<div *ngIf="windowWidth$ | async as width">
  <mat-form-field appearance="fill" *ngIf="width == 500">
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple>
      <button mat-button style="color: black">New Game
        <mat-icon>add</mat-icon>
      </button>

      <button mat-button style="color: black">Restart
        <mat-icon>refresh</mat-icon>
      </button>
      <button class="main_button1" mat-button style="color: black">Pause
        <mat-icon>pause</mat-icon>
      </button>
      <button class="main_button2" mat-button style="color: black">Undo
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-button style="color: black">Options
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-button style="color: black">Help
        <mat-icon>help</mat-icon>
      </button>

      <mat-option value="3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>
</div>
