@import "colors.css";
@import "typography.css";

body {
  background: #50C878;
  overflow: hidden;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fa-icon {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  flex-shrink: 0;
}

a, button {
  cursor: pointer;
}
